body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.block {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header-container {
  width: 100%;
  height: 1000px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.video-container {
  position: absolute;
  z-index: -2;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;

}
video {
  position: absolute;
  z-index: -1;

  width: 100%;
}


.header {
  position: relative;
  top: 0;
  background: url("../images/header-bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
}
.header>nav{
  padding: 60px;
}
.navbar {

  border-bottom: 1px solid #fff;
}

.header__logo {
  font-size: 62px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.nav-item {
  margin-right: 25px;
}

.header__link{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__link:hover{
   text-decoration: none;
}

.header__link:first-child {
  margin-left: 0;
}

.header__intro {
  color: rgb(255, 255, 255);
  padding-top: 170px;
  text-align: center;
}

.header__intro_suptitle {
  font-size: 2.125rem;
}

.header__intro__title {
  font-size: 112px;
  margin-bottom: 152px;
}

.form__block {
  max-width: 370px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.header__form {
  background: #dbdedf;
  border-radius: 5px;
  padding-bottom: 30px;
}

.header__form__input {
  margin-bottom: 15px;
}

.header__form__input:first-child {
  margin-top: 30px;
}

.header__form__input input {
  background: #efefee;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px
}

.header__form__input__button {
  padding: 23px 35px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  background: #5dbdfe;
  color: #fff;
}

/* about */
.about {
  margin-top: 135px;
  line-height: 2;
}

.about__suptitle {
  font-size: 45px;
}

.about__title {
  font-size: 20px;
  padding-bottom: 70px;
}

/* work */
.works__item {
  padding-bottom: 50px;
}

.works__image {
  padding-right: 30px;
  max-height: 92px;
}

.works__title {
  font-size: 24px;
  margin-bottom: 40px;
}

.works__text {
  font-size: 20px;
}

/* features */
.features {
  background: #f1f1f1;
  padding-top: 135px;
}

.features__item {
  padding-bottom: 50px;
}

.features__item>i {
  font-size: 70px;
}

.features__image {
  padding-right: 40px;
}

.features__suptitle {
  font-size: 45px;
}

.features__title {
  font-size: 20px;
  padding-bottom: 40px;
}

.features__text {
  font-size: 20px;
}

.features__frame_two {
  margin: 0 auto;
}

/* Advantages */
.advantages {
  background: #f34235;
  color: #fff;
}

.advantages__suptitle {
  font-size: 45px;
  padding-top: 130px;
}

.advantages__title {
  font-size: 20px;
}

.advantages__item {
  padding: 70px 0;
}

.advantages__item__num {
  font-size: 45px;
  font-weight: 700;
  border-radius: 50%;
  width: 85px;
  height: 75px;
  margin: 0 auto;
  background: #fff;
  color: #f34235;
}

.advantages__item__name {
  font-size: 24px;
}

.advantages__item__text {
  font-size: 20px;
}

/* testimonials */
.testimonials {
  background: #f1f1f1;
}

.testimonials__suptitle {
  font-size: 45px;
  padding: 130px 0 70px 0;
}

.testimonials__title {
  font-size: 20px;
  padding-bottom: 50px;
}

.testimonials__icon__bg {
  background: #f34235;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.testimonials__icon {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.testimonials__slider__name {
  padding: 30px 0;
  font-size: 24px;
  color: #5dbdfe;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.testimonials__slider__dots {
  padding-bottom: 130px;
}

.active {
  background-color: #717171;
}

/* Our Team */
.our__team__suptitle {
  font-size: 45px;
  padding: 130px 0 70px 0;
}

.team__item {
  margin-bottom: 130px;
}

.team__name {
  font-size: 24px;
  padding-top: 30px;
}

.team__profession {
  font-size: 16px;
  color: #5dbdfe;
}

.team__text {
  font-size: 20px;
}

/* FAQs */
.faq {
  background: url(../images/faq-bg.jpg)center center no-repeat;
  background-size: cover;
  padding-bottom: 130px;
}

.faq__group {
  position: sticky;
  top: 0;
}

.generation1 {
  margin: 0px 8px;
}

.accordion {
  background-color: #ff4538;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  border: none;
  width: 370px;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
}

.accordion:after {
  content: "+";
  color: #dd3c30;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_fag {
  background-color: #ff4538;
}

.active_fag:after {
  content: "−";
}

.panel {
  max-height: 0;
  background-color: #dd3c30;
  color: #fff;
  width: 370px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel>p {
  padding: 10px;
}

/* How Its Work  */
.how_its_work {
  margin-top: 130px;
  margin-bottom: 125px;
}

.how_its_work__suptitle {
  font-size: 45px;
}

.how_its_work__title {
  font-size: 20px;
  color: #5dbdfe;
}

.how_its_work__text {
  font-size: 20px;
}

/* Portfolio */
/* Blog */
.blog {
  background: #f1f1f1;
  padding-top: 130px;
  padding-bottom: 120px;
}

.blog__suptitle {
  font-size: 45px;
}

.blog__title {
  font-size: 20px;
}

.blog__images__one {
  padding-right: 20px;
  margin-bottom: 10px;
}

/* Our partners */
.partners {
  padding: 130px 0;
}

.partners_images {
  margin: 20px 30px;
}

.partners__blog__suptitle {
  font-size: 45px;
}

.partners_img {
  margin-top: 90px;
}

/* Contact us */
.contact {
  background: #2c2c2c;
  color: #fff;
  padding-top: 135px;
}

.contact__suptitle {
  font-size: 45px;
}

.contact__address {
  font-size: 20px;
  font-weight: 700;
}

.contact__phone {
  font-size: 20px;
}

.social__network {
  padding: 70px 0;
}

.facebook {
  background: #3b579d;
  color: #fff;
  border-radius: 50%;
  padding: 13px;
}

.twitter {
  background: #5ea9dd;
  color: #fff;
  border-radius: 50%;
  padding: 13px
}

.google {
  background: #df4a32;
  color: #fff;
  border-radius: 50%;
  padding: 13px
}

.social__network>a {
  margin: 0 10px;
}

.button__up {
  color: #fff;
  background: #5dbdfe;
  border-radius: 50%;
  padding: 13px;
  position: absolute;
  right: 30px;
}

.social__network>a:hover {
  color: #fff;
}

.protect {
  opacity: 0.2;
  margin: 0;
  padding-bottom: 40px;
}

/* map */
.map {
  position: relative;
}

.map__icon {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
}
