

html {
  /* overflow: hidden; */
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.block {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/* header */
.header {
  background: url("../images/header-bg.jpg") center no-repeat;
  background-size: cover;
  width: 100%;

}

.header_inner {
  padding: 3%;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #fff;
}

.header__logo {
  font-size: 4.0625rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.header__link {
  text-decoration: none;
  margin-left: 50px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.header__link:first-child {
  margin-left: 0;
}

.header__intro {
  color: rgb(255, 255, 255);
  padding-top: 170px;
  text-align: center;
}

.header__intro_suptitle {
  font-size: 2.125rem;
}

.header__intro__title {
  font-size: 7rem;
  font-weight: 200;
  margin-bottom: 152px;
}
.form__block{
  max-width: 370px;
  margin: 0 auto;
  padding-bottom: 150px;
}

.header__form {
  background: #dbdedf;
  border-radius: 5px;
  padding-bottom: 30px;
}

.header__form__input{
  margin-bottom: 15px;
}

.header__form__input:first-child {
  margin-top: 30px;
}

.header__form__input input {
  background: #efefee;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px
}

.header__form__input__button {
  padding: 23px 35px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  background: #5dbdfe;
  color: #fff;
}
/* about */
.about {
  margin-top: 135px;
  line-height: 2;
}

.about__suptitle{
  font-size: 45px;
}

.about__title {
  font-size: 20px;
  padding-bottom: 70px;
}

/* work */

.works__item {
  padding-bottom: 50px;
}

.works__image {
  padding-right: 30px;
  max-height: 92px;
}

.works__title {
  font-size: 24px;
  margin-bottom: 40px;
}

.works__text {
  font-size: 20px;
}

/* features */

.features {
  background: #f1f1f1;
  padding-top: 135px;
}

.features__item {
  padding-bottom: 50px;
}
.features__item > i {
  font-size: 70px;
}
.features__image {
  padding-right: 40px;

}

.features__suptitle{
  font-size: 45px;
}

.features__title {
  font-size: 20px;
  padding-bottom: 40px;
}

.features__text {
  font-size: 20px;
}

.features__frame_two {
  margin: 0 auto;
}

.advantages {
  background: #f34235;
  color: #fff;
}

.advantages__suptitle {
  font-size: 45px;
  padding-top: 130px;
}

.advantages__title {
  font-size: 20px;
}

.advantages__item {
  padding: 70px 0;
}

.advantages__item__num {
  font-size: 45px;
  font-weight: 700;
  border-radius: 50%;
  width: 85px;
  height: 75px;
  margin: 0 auto;
  background: #fff;
  color: #f34235;

}

.advantages__item__name {
  font-size: 24px;
}

.advantages__item__text {
  font-size: 20px;
}
