@media (min-width: 320px) {
  .header__logo{
    font-size: 45px;
  }
  .header__intro__title{
    font-size: 50px;
    font-weight: 500;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header__logo{
    font-size: 45px;
  }
  .header__intro__title{
    font-size: 70px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header__intro__title{
    font-size: 90px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header__intro__title{
    font-size: 112px;
  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) {

}
